<div class="topnav">
  <a class="active" (click)="onSelect()">HOME</a>
  <a>CONTACT</a>
  <a (click)="register()">REGISTER</a>
  <a (click)="login()">LOGIN</a>
  <a href="#">SEARCH</a>
  <a href="#">ABOUT</a>
</div>
<div *ngFor = 'let image of recipeImage'>
  <img [src] = 'image.url'>
</div>
<app-home *ngIf="showHome"></app-home>
<app-signup *ngIf="showRegisteration"></app-signup>
<app-login *ngIf="showLogin"></app-login>
