<div class="sign-in" >
  <h2>{{title}}</h2>
  <form class="user-info" method="POST" (ngSubmit)="onSubmit()">
    <br>
    USER NAME: <input type="text" name="userName" id="userName"><br><br>
    PASSWORD: <input type="password" name="password" id="password"><br><br>
    <input type="button" value="Sign In"><br><br>
    <h3></h3>
  </form>
</div>
