<div class="sign-up" >
  <h2>{{title}}</h2>
  <form class="user-info" method="POST" (ngSubmit)="onSubmit()">
    <br>
    NAME:  <input type="text" name="name" id="name"><br><br>
    USER NAME: <input type="text" name="userName" id="userName"><br><br>
    PASSWORD: <input type="password" name="password" id="password"><br><br>
    PROFILE PICTURE:  <input type="file" name="picture" id="picture"><br><br>
    <input type="button" value="Sign Up"><br><br>
    <button (click)="onClickMe()">Click me!</button>
    <h3></h3>
  </form>
</div>
