/* You can add global styles to this file, and also import other style files */
h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
.sign-up h2 {
  color: #336899;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  text-align: center;
}
.sign-up{
  color: #336899;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  text-align: center;
  width: 100%;
  background: #F2F5F8;
}
.sign-in h2 {
  color: #336899;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  text-align: center;
}
.sign-in{
  color: #336899;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  text-align: center;
  width: 100%;
  background: #F2F5F8;
}
/*padding:50px;
width: 35%;
background: #F2F5F8;
color: #434651;
align: center;
height: 100%;
float:right;
margin-right:220px;
margin-top:80px;*/

/*body {
  margin: 2em;
}
body, input[text], button {
  color: #888;
  font-family: Cambria, Georgia;
}*/
/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
}
